#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/* APP */
.outer_wrapper {
  display:grid;
  width: 100%;
  max-width: 1280px;
  row-gap: var(--space-6);
  column-gap: var(--space-4);
  padding: var(--space-8);
  grid-template-areas:
  "title title"
  "overview overview"
  "chart inputform"
  "history history"
  "footer footer";
  }

/* HEADER */
  .header {
    grid-area: title ;
  }

  .header h1 {
    font-size: var(--text-2xl);
    font-family: 'Playfair Display';
  }

/* OVERVIEW */
.overview_wrapper {
  grid-area: overview;
  background-color: var(--color-white);
  border-radius: 10px;
}

.overview_wrapper ul {
  display:flex;
  width:100%;
  justify-content: space-between;
  padding:  var(--space-6) ;
  max-width: 900px;
  margin: 0 auto;
}

.overview_wrapper ul li {
  display:flex;
  gap: var(--space-4);
  justify-content: center;
  align-self: center;
}

.overview_wrapper ul li svg {
  align-self: center;
}

.overview_wrapper ul li div {
  display:flex;
  flex-direction: column;
  gap: var(--space-2);
}

.overview_wrapper ul li div p {
  font-weight: bold;
}

.overview_wrapper ul li div p:nth-child(1){
  color: var(--color-light-text);
}

.overview_wrapper ul li div p:nth-child(2){
  font-size: var(--text-l);
}

/* CHART */
.chart_wrapper {
  grid-area: chart;
  width: 100%;
  border: 1px solid var(--color-white);
  border-radius: 10px;
}


/* INPUTFORM */
.inputForm_wrapper {
  grid-area: inputform;
  display:flex;
  flex-direction: column;
  gap: var(--space-4);
  place-items: center;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: var(--space-6);
  margin-left: auto;
  width: 100%;
  max-width: 300px;
}

.inputForm_wrapper div {
  display:flex;
  flex-direction: column;
  gap: var(--space-2);
}

.inputForm_wrapper div input[type="number"]  {
  padding: var(--space-3);
  border-radius: 10px;
  border: 1px solid var(--color-white);
}

.inputForm_wrapper button {
  background-color: var(--color-highlight);
  padding: var(--space-2);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  margin-top: auto;
  transition: background-color 350ms linear, color 300ms linear;
}

.inputForm_wrapper button:hover,
.inputForm_wrapper button:focus {
  background-color: var(--color-secondary);
  color: var(--color-highlight);
}

/* HISTORY STACK */
.history_wrapper {
  grid-area: history;
  width: 100%;
  background-color: var(--color-white);
  padding: var(--space-6);
  border-radius: 10px;
}

.history_wrapper h2 {
  margin-bottom: var(--space-6);
}

.history_wrapper div {
  cursor: pointer;
}

.historyItems_wrapper {
  display:flex;
  justify-content: space-between;
  padding:var(--space-8);
  font-weight: bold;
  border-radius: 10px;
}

.historyItems_wrapper.active {
  background-color: white;
}

/* FOOTER */


footer {
  grid-area: footer;
  text-align: center;
}

/* Responsive */

@media (max-width: 800px) {
  .outer_wrapper {
    grid-template-areas:
    "title"
    "overview"
    "inputform"
    "chart"
    "history"
    "footer";
  }
  
  .overview_wrapper ul {
    flex-wrap:wrap;
    gap: var(--space-10);
    justify-content:center;
  }

  .inputForm_wrapper {
    margin: 0 auto;
    max-width: 100%;
  }

}
